<section class="page">
  <h1 class="header">Control</h1>
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Create Cinema</mat-expansion-panel-header>
      <app-create-cinema></app-create-cinema>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>Create Room</mat-expansion-panel-header>
      <app-create-room></app-create-room>
    </mat-expansion-panel>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        Create Row Category
      </mat-expansion-panel-header>
      <app-create-row-category></app-create-row-category>
    </mat-expansion-panel>
  </mat-accordion>
</section>
