<form
  id="form"
  [formGroup]="form"
  #formDirective="ngForm"
  (ngSubmit)="_submit(formDirective)"
>
  <mat-form-field appearance="standard">
    <mat-label>Select Category</mat-label>
    <mat-select (opened)="_fetchCategories()" [formControl]="categoryControl">
      <mat-option
        *ngFor="let category of categories$ | async"
        [value]="category"
      >
        {{ category.name }}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input autocomplete="off" matInput [formControl]="rowNameControl" />
  </mat-form-field>
  <button type="submit" mat-raised-button color="primary">Create Row</button>
</form>
<mat-accordion *ngIf="rows$ | async as rows">
  <mat-expansion-panel *ngFor="let row of rows">
    <mat-expansion-panel-header>
      {{ row.name }}
    </mat-expansion-panel-header>
    <app-create-seats [row]="row"></app-create-seats>
  </mat-expansion-panel>
</mat-accordion>
