<mat-selection-list
  #list
  (selectionChange)="selected.emit(list.selectedOptions.selected[0]?.value)"
  [multiple]="false"
  *ngIf="movieShows && movieShows.length > 0"
>
  <mat-list-option [value]="show" *ngFor="let show of movieShows">
    <span matLine>
      {{ show.start | date: "dd.MM.yyyy" }}: {{ show.start | date: "HH:mm" }} -
      {{ show.end | date: "HH:mm" }}
    </span>
    <span matLine>
      <span *ngIf="show.threeDimensional">3d | </span>
      {{ show.priceInCent / 100 | currency: "EUR" }}
    </span>
  </mat-list-option>
</mat-selection-list>
