<section class="page">
  <h1 class="header">
    Movies of
    <span *ngIf="cinema$ | async as cinema">{{ cinema.nameOfCinema }}</span>
  </h1>
  <app-movie-card [movie]="movie" *ngFor="let movie of movies$ | async">
    <ng-container
      slot="content"
      *ngIf="shows.get(movie) | async as data"
      [ngSwitch]="data.length"
    >
      <span *ngSwitchCase="0"
        >No shows scheduled in the next {{ scheduleOfNextDays }} days 😥</span
      >
      <section class="schedule" *ngSwitchDefault>
        <span>Schedule for the next {{ scheduleOfNextDays }} days</span>
        <app-movie-show-list *ngSwitchDefault [movieShows]="data">
        </app-movie-show-list>
      </section>
    </ng-container>
  </app-movie-card>
</section>
