<section class="tickets">
  <div class="ticket-row" *ngFor="let row of ticketMap | keyvalue">
    <span>{{ row.key }}</span>
    <button
      [disabled]="_disabled(ticket) | async"
      (click)="_onClickTicket(ticket)"
      mat-raised-button
      [color]="_color(ticket) | async"
      *ngFor="let ticket of _sort(row.value)"
    >
      {{ ticket.seat.number }}
    </button>
  </div>
</section>
<section class="selected-tickets">
  <mat-selection-list #list>
    <h3 matSubheader *ngIf="selectedTickets.length > 0">My Selection</h3>
    <mat-list-option
      [disabled]="ticket.state === 'Booked'"
      [selected]="ticket.state !== 'Booked'"
      [value]="ticket"
      *ngFor="let ticket of selectedTickets"
    >
      <span class="selected-seat">
        <button mat-flat-button [color]="_color(ticket) | async">
          {{ ticket.seat.row.name + ticket.seat.number }}
        </button>
        {{ ticket.state }}
        <span class="flex-spacer"></span>
        <button
          color="warn"
          (click)="_onUnreserve(ticket)"
          mat-icon-button
          *ngIf="ticket.state === 'Reserved'"
        >
          <mat-icon>delete</mat-icon>
        </button>
      </span>
    </mat-list-option>
    <mat-list-item> </mat-list-item>
  </mat-selection-list>
  <section class="actions" [ngSwitch]="auth.user$ | async">
    <button
      *ngSwitchCase="null"
      mat-raised-button
      (click)="authDialog.signIn()"
      color="primary"
    >
      Sign in to book
    </button>
    <ng-container *ngSwitchDefault>
      <button
        *ngIf="selectedTickets.length > 0"
        mat-raised-button
        (click)="_onReserve(list.selectedOptions.selected)"
        color="accent"
      >
        Reserve Selected
      </button>
      <button
        *ngIf="selectedTickets.length > 0"
        mat-raised-button
        color="primary"
        (click)="_onBook(list.selectedOptions.selected)"
      >
        Book Selected
      </button>
    </ng-container>
  </section>
</section>
