@import "variables.scss";

app-movie-show-control {
  display: grid;
  grid-template-columns: minmax(auto, max-content) 450px;
  gap: $spacing;
  padding: $spacing;

  .selected-seat {
    display: flex;
    gap: $spacing;
    align-items: baseline;
  }

  .flex-spacer {
    flex: 1 1 auto;
  }

  .mat-list-item-disabled {
    background: initial;
  }
  .tickets {
    height: max-content;
    overflow: auto;
  }

  .ticket-table {
    display: flex;
    flex-direction: column;
    gap: $spacing-very-small;
  }

  .ticket-row {
    display: flex;
    align-items: baseline;
    gap: $spacing-very-small;
  }

  .ticket-row-name {
    padding-right: $spacing;
  }

  .actions {
    display: flex;
    align-items: baseline;
    gap: $spacing;
  }

  .selected-tickets-list {
    max-height: 500px;
    overflow-y: auto;
  }

  .total {
    vertical-align: baseline;
  }
}
