<section class="create">
  <mat-form-field appearance="standard">
    <mat-label>Name</mat-label>
    <input autocomplete="off" matInput [formControl]="form" />
  </mat-form-field>
  <button (click)="_submit()" mat-raised-button color="primary">
    Create Room
  </button>
</section>
<mat-accordion *ngIf="roomes$ | async as roomes">
  <mat-expansion-panel *ngFor="let room of roomes">
    <mat-expansion-panel-header>
      {{ room.nameOfRoom }}
    </mat-expansion-panel-header>
    <mat-checkbox
      (change)="_change(room, $event.checked)"
      [checked]="room.open"
    >
      Open
    </mat-checkbox>
    <app-schedule-movie-show
      [cinema]="cinema"
      [room]="room"
    ></app-schedule-movie-show>
    <app-create-row [room]="room"></app-create-row>
  </mat-expansion-panel>
</mat-accordion>
